.main__hero {
  max-width: 100%;
  min-height: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-image: url("../../assets/frontPageBackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__content {
  max-width: 608px;
  text-align: center;
  color: #ffffff;
}

.main__title {
  color: #ffffff;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 32px;
  margin-top: 80px;
}

.main__subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 32px;
}

.main__no-results {
  width: 100%;
  background-color: #ffffff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.no-results__icon {
  width: 83px;
  height: 83px;
  margin-bottom: 32px;
}

.no-results__title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-bottom: 16px;
  color: #1a1a1a;
}

.no-results__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #6c707a;
  text-align: center;
  max-width: 356px;
  height: 48px;
}

@media (max-width: 1024px) {
  .main__hero {
    min-height: auto;
    padding: 40px 20px;
    background-position: top;
  }

  .main__overlay {
    margin-left: 0;
    text-align: center;
  }

  .main__title {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: left;
  }

  .main__subtitle {
    font-size: 18px;
    text-align: left;
    margin-bottom: 32px;
  }

  .main__content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 420px;
    text-align: left;
  }

  .main__no-results {
    flex-shrink: 0;
    margin-bottom: 120px;
  }
}

@media (max-width: 480px) {
  .main__hero {
    padding: 0;
    min-height: auto;
  }

  .main__content {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    margin-top: 120px;
  }

  .main__subtitle {
    margin-bottom: 80px;
    margin-top: 18px;
  }

  .main__no-results {
    margin-bottom: 0;
    margin-top: 0;
  }
}
