.main {
  width: 100%;
  min-height: 576px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  align-items: center;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.main__content {
  max-width: 608px;
  text-align: center;
  color: #ffffff;
}

.main__title {
  color: #ffffff;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 32px;
}

.main__subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 32px;
}

@media (max-width: 900px) {
  .main {
    height: auto;
    padding: 40px 20px;
  }

  .main__overlay {
    margin-left: 0;
    text-align: center;
  }

  .main__title {
    font-size: 42px;
  }
}
