.saved-news {
  padding: 40px 104px;
  background-color: #f5f6f7;
}

.saved-news__section {
  margin-bottom: 32px;
}

.saved-news__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b22;
  opacity: 0.5;
  margin-bottom: 28px;
}

.saved-news__count {
  font-size: 40px;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0;
  color: #1a1b22;
}

.saved-news__empty {
  font-size: 40px;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0;
  color: #1a1b22;
}

.saved-news__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 32px;
}
