.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 104px;
  background: transparent;
  border: none;
  position: relative;
  z-index: 10;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #ffffff;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__link {
  background: none;
  border: none;
  font-size: 18px;
  color: #1a1a1a;
  cursor: pointer;
}
