.news-card-list {
  padding: 80px 0;
  background-color: #f5f6f7;
}

.news-card-list__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 64px;
  padding-left: 50px;
  font-family: "roboto slab", Arial, sans-serif;
}

.news-card-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 16px;
  padding-left: 50px;
  list-style-type: none;
}
