.news-card-list {
  padding-top: 40px;
  background-color: #f5f6f7;
}

.news-card-list__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 64px;
  padding-left: 120px;
}

.news-card-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 16px;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 104px;
  padding-right: 104px;
}

.search-results {
  padding-bottom: 80px;
}

.search-results__show-more {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  color: #1a1b22;
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin: 80px auto;
}

.search-results__show-more:hover {
  background-color: #e8e8e8;
}

@media (max-width: 768px) {
  .news-card-list__grid {
    grid-template-columns: repeat(3, 224px);
    gap: 12px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
  }

  .news-card-list__title {
    font-size: 30px;
    line-height: 34px;
    padding-left: 40px;
    margin-top: 40px;
  }

  .search-results {
    padding-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .news-card-list {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
  }
}
