/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global layout */
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  min-height: 100%;
}
